<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <h1>posts go here</h1>
    <%- include('../partials/footer') %>
  </body>
</html>