body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;

}
.taskCard {
    display: inline-block;
    width: 20%;
    margin: 2em;
    padding: 1em;
}
.red {
    color: red;
}

.green {
    color: green;
}

.done {
    text-decoration: line-through;
}

.late {
    color:orange;
}