body {
    font-family: 'ubuntu', sans-serif;
}
header {
    height: 65vh;
    background-image: 
    /* linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), */
    linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),
    /* url(./media/desk.jpg); */
    /* url(./media/neon.jpg);  */
    /* url(./media/purplecode.jpg);    */
    url(./media/femdev.jpg);   
    /* url(./media/femdev2.jpg);  */
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero {
    opacity: 1;
}
.card-img-top {
    width: 100%;
    height: 12em;
    object-fit: cover;
}

ul {
    list-style: square;
} 

ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 38%;
    width: 4px;
    height: 80%;
    z-index: 400;
    border-radius: 1rem;
}

.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 40%;
}

.bg-info {
    --bs-bg-opacity: .4;
}

.badge {
    font-size: 0.6em;
    padding:2%;
}

.education img {
    height: 1em;
}
.education ul {
    list-style: none;
}