body{
    margin: 0;
    padding: 0;
    border: solid black 2px;
}
h2 {
    border-bottom: solid black 2px;
    margin: 0;
    padding: 0;
}
.container {
    margin: 2em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2em;
    width: 80%;

}

.long {
    width: 30%;
    height: 600px;
    justify-items: stretch;
    border: solid black 2px;
    margin-bottom: 2em;
}

#red {
    background-color: tomato;
}

#green {
    background-color: lightgreen;
}

#orange {
    background-color: lightsalmon;
}

#purple {
    background-color: plum;
    border: solid black 2px;
    width: 100%;
    height: 200px;
}