section {
    width: 80%;
    margin: 0 auto;
}

div {
    display: inline-block;
    height: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}



.col-4 { 
    background-color: powderblue;

}

.col-6 {
    background-color: salmon;
}

.col-12 {
    background-color: royalblue ;
}
    @media screen and (min-width: 960px) { 
        .col-4 {
            width: 33%;
        } 
        .col-6 {
            width: 50%;
        }
    }
    @media screen and (min-width: 765px) and (max-width: 960px) { 
        .col-4 {
            width: 50%;
        } 
    }
