body {
    background-color: darkslateblue;
    font-family: 'open sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
   

}
#wrap {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    display: inline-block;
    overflow: hidden; 
    
}

#nav {
    background-color: powderblue;
    float: left;
    width:30%;
    height: 400px;
    padding-bottom: 1700px;
    margin-bottom: -1700px;
    
}  


#content {
    background-color: royalblue;
    float: right;
    width:70%;

}


#content ul {
    list-style-type: none;

}

#content ul li:first-letter {
    font-size: 150%;
}


#wrap p:first-of-type{
    text-align: left;
    padding-left: 1em;

}

footer {
    clear: both;
    margin-left: 30%;
    padding-top: 1em;
}